<a href="https://isitchristmas.com" data-bind="text: words"></a>
<span id="moreWords" data-bind="text: moreWords"></span>
<button class='btn' data-bind="click: coolJSfunction, text: moreWords"></button>