<a href="https://isitchristmas.com" data-bind="text: settings.settings.plugins.helloworld.words"></a>
<span>{{ plugin_helloworld_test }}</span>
<span data-bind="text: plugins.helloworld.moreWords"></span>
<span data-bind="text: helloworldViewModel.moreWords"></span>
