<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Serial command to ESP</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: moreWords">
        </div>
		<div><h6> for official use only </h6></div>
    </div>
</form>

<table>
  <tr>
    <th> Temp </th>
	<th> Hum  </th>
  </tr>
  <tr>
    <td data-bind="text: temperature"> </td>
	<td> <span data-bind="text: humidity"/> </td>
  </tr>
</table>