<button class='btn' data-bind="click: lightButtonFunction, text: lightStatus"></button>
<button class='btn' data-bind="click: dryerButtonFunction, text: dryerStatus"></button>
<button class='btn' data-bind="click: printerPowerFunction, text: printerStatus"></button>
<br>
<span data-bind="text: buttonStatus"/>
<br>
Look here
<span data-bind="text: temperature"/>
<span data-bind="text: humidity"/>
Hello World!