<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Serial command to ESP</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: passSerial">
		</div>
		<label class="control-label">High and Low Humidity trigger settings {{ plugin_protosthetics_hum_low }} </label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: humidityHigh">
		</div>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: humidityLow">
        </div>
		
		<div><h6> for official use only </h6></div>
    </div>
</form>