<button class='btn' data-bind="click: lightButtonFunction, text: lightStatus"/>
<input type="range" min="0" max="100" class="slider" data-bind="value: brightness">
<button class='btn' data-bind="click: dryerButtonFunction, text: dryerStatus"/>
<button class='btn' data-bind="click: printerPowerFunction, text: printerStatus"/>
<br>
<span data-bind="text: buttonStatus"/>

<table>
  <tr>
    <th> Temp </th>
	<th> Hum  </th>
  </tr>
  <tr>
    <td> 5 </td>
	<td> 10 </td>
  </tr>
</table>
Hello World!